@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<div class="nk-box bg-dark-1">
        <div class="container text-center">
            <div class="nk-gap-6"></div>
            <div class="nk-gap-2"></div>
            <h2 class="nk-title h1">About Judge</h2>
            <div class="nk-gap-3"></div>

            <p class="lead">Formed in the early days of World of Warcraft, Judge was created by a group of individuals who wanted to push with the elitists whilst still enjoying the comfort of being casual.<br />
            Over the years, Judge has proven you can be a part of a fantastic community whilst still giving the top dogs a run for their money.
            </p>

            <div class="nk-gap-2"></div>
            <div class="row no-gutters">
                <div class="col-md-4">
                    <div class="nk-box-2 nk-box-line">
                        <!-- START: Counter -->
                        <div class="nk-counter-3">
                            <div class="nk-count">14</div>
                            <h3 class="nk-counter-title h4">Years of Gaming</h3>
                            <div class="nk-gap-1"></div>
                        </div>
                        <!-- END: Counter -->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="nk-box-2 nk-box-line">
                        <!-- START: Counter -->
                        <div class="nk-counter-3">
                            <div class="nk-count">8</div>
                            <h3 class="nk-counter-title h4">Games Played as a Guild</h3>
                            <div class="nk-gap-1"></div>
                        </div>
                        <!-- END: Counter -->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="nk-box-2 nk-box-line">
                        <!-- START: Counter -->
                        <div class="nk-counter-3">
                            <div class="nk-count">300</div>
                            <h3 class="nk-counter-title h4">Shears to a Paladins Face</h3>
                            <div class="nk-gap-1"></div>
                        </div>
                        <!-- END: Counter -->
                    </div>
                </div>
            </div>
            <div class="nk-gap-2"></div>
            <div class="nk-gap-6"></div>
        </div>
    </div>
