@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
    <div class="container">
        <div class="nk-gap-6"></div>
        <div class="nk-gap-2"></div>
        <div class="row vertical-gap lg-gap">
            <div class="col-md-4">
                <div class="nk-ibox">
                    <div class="nk-ibox-icon nk-ibox-icon-circle">
                        <span class="ion-ios-game-controller-b"></span>
                    </div>
                    <div class="nk-ibox-cont">
                        <h2 class="nk-ibox-title">Long Lasting Community</h2>
                        The guild Judge has existed through games such as World of Warcraft, Guild wars 2, Wildstar and FFXIV.
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="nk-ibox">
                    <div class="nk-ibox-icon nk-ibox-icon-circle">
                        <span class="ion-fireball"></span>
                    </div>
                    <div class="nk-ibox-cont">
                        <h2 class="nk-ibox-title">Perfection</h2>
                        We have always taken pride in our semi-hardcore attitude, bringing the best of what we can, with what little time we have.
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="nk-ibox">
                    <div class="nk-ibox-icon nk-ibox-icon-circle">
                        <span class="ion-ribbon-a"></span>
                    </div>
                    <div class="nk-ibox-cont">
                        <h2 class="nk-ibox-title">Multiple Game Achievements</h2>
                        From server firsts to exclusive rewards, Judge has seen it all.
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-gap-2"></div>
        <div class="nk-gap-6"></div>
    </div>