@using V8Media.Framework.Utilities.Extensions
@inherits UmbracoTemplatePage

<div class="ql__wrap">
    <div class="ql__item">
        <a href=""><img src="/css/images/sample/ql1.jpg" alt=""/></a>
        <a href="">lorem ipsum</a>
    </div>
    <div class="ql__item">
        <a href=""><img src="/css/images/sample/ql2.jpg" alt=""/></a>
        <a href="">lorem ipsum</a>
    </div>
    <div class="ql__item">
        <a href=""><img src="/css/images/sample/ql3.jpg" alt=""/></a>
        <a href="">lorem ipsum</a>
    </div>
</div>