@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<!--
            START: Navbar

            Additional Classes:
                .nk-navbar-sticky
                .nk-navbar-transparent
                .nk-navbar-autohide
                .nk-navbar-light
                .nk-navbar-no-link-effect
        -->
        <nav class="nk-navbar nk-navbar-top nk-navbar-sticky nk-navbar-autohide">
            <div class="container">
                <div class="nk-nav-table">

                    <a href="index.html" class="nk-nav-logo">
                        @*<img src="assets/images/logo.svg" alt="" width="90">*@
                    </a>
                </div>
            </div>
        </nav>
        <!-- END: Navbar -->