@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
    <!--
        START: Page Audio Background

        Additional Attributes:
            data-audio - URL to audio file
            data-audio-volume - audio volume (0-100)
            data-audio-autoplay - autoplay audio (true/false)
            data-audio-loop - loop audio (true/false)
            data-audio-pause-on-page-leave - pause video when the page not in focus (true/false)
    -->
<div class="nk-page-background-audio d-none" data-audio="http://judge-gaming.com/assets/mp3/purpleplanetmusic-desolation.mp3" data-audio-volume="3" data-audio-autoplay="true" data-audio-loop="true" data-audio-pause-on-page-leave="true"></div>