@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<!--
        Additional Attributes:
            data-video - Youtube/Vimeo/self-hosted video urls.
                self-hosted video example:
                data-video="mp4:./video/local-video.mp4,webm:./video/local-video.webm,ogv:./video/local-video.ogv"
            data-video-loop - loop video (true/false)
            data-video-mute - mute video music (true/false)
            data-video-volume - volume of video music (0-100)
            data-video-start-time - video start time in seconds
            data-video-end-time - video end time in seconds
            data-video-pause-on-page-leave - pause video when the page not in focus (true/false)
    -->
    <div class="nk-page-background op-5" data-video="https://youtu.be/UkeDo1LhUqQ" data-video-loop="true" data-video-mute="true" data-video-volume="0" data-video-start-time="0" data-video-end-time="0" data-video-pause-on-page-leave="true" style="background-image: url('http://judge-gaming.com/assets/images/page-background.jpg');"></div>