@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Base.cshtml";
}

@* the fun starts here *@
        <!-- START: Header Title -->
        <!--
            Additional Classes:
                .nk-header-title-sm
                .nk-header-title-md
                .nk-header-title-lg
                .nk-header-title-xl
                .nk-header-title-full
                .nk-header-title-parallax
                .nk-header-title-parallax-opacity
                .nk-header-title-boxed
        -->
        <div class="nk-header-title nk-header-title-full nk-header-title-parallax nk-header-title-parallax-opacity">
            <div class="bg-image op-4">
                <img src="assets/images/judgebackground.jpg" alt="" class="jarallax-img">
            </div>
            <div class="nk-header-table">
                <div class="nk-header-table-cell">
                    <div class="container">
                        <div class="nk-header-text">
                            <div class="nk-gap-4"></div>
                            <div class="container">
                                <div class="text-center">
                                    <h2 class="nk-title display-4">Judge Legends</h2>
                                    <div class="nk-title-sep-icon">
                                        <span class="icon"><span class="ion-clock"></span></span>
                                    </div>
                                    <div class="nk-gap-2"></div>
                                    <div class="row">
                                        <div class="col-md-8 offset-md-2">
                                            <p class="lead">Your new website awaits...</p>
                                            <div class="nk-gap-2"></div>
                                            <div class="nk-countdown" data-end="2018-12-20 14:30" data-timezone="GMT"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="nk-gap-4"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- END: Header Title -->
